html
  head
    title= title
  body
    h2 The Books
        h4= book
            #container
                if (this.listbook)
                    each item in listbook
                      li= item