html
  head
    title= title
  body
    h2 The Books  
    #container
        hr
        ol
            form(action='/resa' method='GET')
                each item, number in listbook, nb
                    hr
                    li= item
                    button(type='submit' name='bs' value=number) resa
                    hr