html
  head
    title= title
  body
    h2 The Books
        h4= book
            #container
                form(action='/' method='POST')
                    each item in listbook
                        li= item
                        button(type='submit' name='booksubmit') resa